<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Api Key</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzNzFiZTFlY2E0ZTkyZWQwM2ZlM2YyNmIyNjRlZThiNyIsInN1YiI6IjVlYTA1OTZmZjFiNTcxMDAyMThmNDg4MyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.icFg7yicmldW9x6j8KN8MaXG2fyMVWVg_hbQ6cJ5mjY</string>
</dict>
</plist>
